<div class="displayBox">
    <h3>Equipment</h3>
    <ol>
        <li *ngFor="let item of equipmentItems">
            <!-- "Add to Cargo Hold" button goes here. -->
            <input [class.active]='!inactiveBtn(item.mass)' [disabled]='inactiveBtn(item.mass)' (click)='addItem(item)' type='text' placeholder="Add {{item.name}}"/>
            {{item.name}}, {{item.mass}} kg
        </li>
    </ol>
</div>

<hr>

<div class = "displayBox">
    <h3>Cargo Hold: {{cargoHold.length}}/{{maxItems}} Spots Filled</h3>
    <ol>
        <li *ngFor="let equipment of cargoHold">{{equipment.name}}</li>
    </ol>
    <p>Mass in Hold: {{cargoMass}} kg</p>
    <p [class.nearMaxMass]='maxMass()'>Mass Budget Remaining: {{maximumAllowedMass - cargoMass}} kg</p>
    <!-- Add the "Empty Hold" button here. -->
    <button [class.nearMaxMass]='!maxMass()' (click)='emptyHold()'>emptyhold</button>
</div>

